div{
    border: 1px solid black;
    padding: 1rem;
    height: 10vh;
    width: 80%;
    margin: 0.5rem;
}

textarea{
    padding: 1rem;
    height: 12vh;
    width: 70%;
    border: 1px solid green;
    margin: 1rem;
}